<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="CSTherm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <CSTherm.Properties.Settings>
            <setting name="PollRepeat" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="OutputFilePath" serializeAs="String">
                <value>/home/pi/tempdata</value>
            </setting>
            <setting name="CosmApiId" serializeAs="String">
                <value>nrRUHig3LHTbqUt3uBisYVqiPWeSAKxjaXNoOHBTdFQzOD0g</value>
            </setting>
            <setting name="CosmFeed" serializeAs="String">
                <value>123479</value>
            </setting>
        </CSTherm.Properties.Settings>
    </applicationSettings>
</configuration>
